h3{
    margin-top:20px;
}

.input-angka{
    margin-bottom: 20px;
}

.btn-tambah{
    width: 80%;
    height: 100px;
    font-size: 32px;
    margin-bottom:20px;
}

.btn-kurang{
    width: 80%;
    height: 100px;
    font-size: 32px;
    margin-bottom:20px;
}

.btn-kali{
    width: 80%;
    height: 100px;
    font-size: 32px;
    margin-bottom:20px;
}

.btn-bagi{
    width: 80%;
    height: 100px;
    font-size: 32px;
    margin-bottom:20px;
}

.hasil{
    margin-top:50px;
    margin-bottom:20px;
}
